<!DOCTYPE html>

<html lang="en">

<head>
    
    <title>{{ webcam }}</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

</head>

  <body>

    <h1 style="color: lightsalmon;">Real Time Monitoring </h1>
    <div>
        <img src="{{ url_for('video') }}" width="50%"/>
    </div>
            
    </body>


</html>